<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UnderSounds - Favoritos</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

  {% include "header.html" %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      updateCartCount();
      updateCartDropdown();
    });
  </script>

  <main class="favorites">
    <h2>Favoritos</h2>
    <div id="favorite-items"></div>
  </main>
  
  {% include "footer.html" %}

  <!-- Carga del archivo JS con la funcionalidad -->
  <script src="/static/js/app.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      renderFavorites();
    });
  </script>
</body>
</html>
