<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UnderSounds - Géneros</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

  {% include "header.html" %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      updateCartCount();
      updateCartDropdown();
    });
  </script>

  <!-- Contenedor específico para la página de géneros -->
  <main class="content genres-page">
    <h2>Buscar por Géneros</h2>
    <div class="genres-container"></div>
  </main>

  {% include "footer.html" %}

  <div id="data-generos"
       data-generos='{{ generos | tojson }}'
       data-canciones='{{ canciones | tojson }}'>
  </div>


  <!-- Carga de scripts -->
  <script src="/static/js/generos.js"></script>
  <script src="/static/js/app.js"></script>
</body>
</html>
