<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UnderSounds - Iniciar Sesión</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

  {% include "header.html" %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      updateCartCount();
      updateCartDropdown();
    });
  </script>


  
  <!-- Contenido principal: Iniciar sesión -->
  <main class="content login-page">
    <h2 class="logo">Iniciar Sesión</h2>
    <form id="loginForm" class="form" method="post" action="/login">
      <label for="username">Correo o usuario:</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required>
      <!-- Aquí se muestra el error, controado por el view.py-->
      <span id="passwordError" style="color: red;">
        {% if error %}
          {{ error }}
        {% endif %}
      </span>
      <button type="submit" class="btn">Iniciar sesión</button>
    </form>
    <div class="login-options">
      <p>¿No tienes cuenta? <a href="/register">Regístrate</a></p>
      <p><a href="/recover">¿Olvidaste tu contraseña?</a></p>
    </div>
  </main>



  <!-- Botón de Ayuda Flotante -->
  <a href="/ayuda" class="help-button" title="Ayuda">?</a>

  {% include "footer.html" %}

  <script src="/static/js/main.js"></script>
</body>
</html>
