<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Términos y Condiciones</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="prueba-page">
    <h1>Lista de Canciones</h1>
    <ul>
        {% for cancion in canciones %}
            <li>
            <strong>ID:</strong> {{ cancion.idCancion }}<br>
            <strong>Nombre:</strong> {{ cancion.nombreCancion }}<br>
            <strong>Álbum ID:</strong> {{ cancion.idAlbum }}<br>
            <strong>Artista ID:</strong> {{ cancion.idArtista }}<br>
            <strong>Género ID:</strong> {{ cancion.idGenero }}<br>
            <strong>URL:</strong> <a href="{{ cancion.url }}" target="_blank">{{ cancion.url }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>