<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UnderSounds - Recuperar Contraseña</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

  {% include "header.html" %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      updateCartCount();
      updateCartDropdown();
    });
  </script>

  <!-- Contenido principal: Recuperar contraseña -->
  <main class="content login-page">
    <h2>Recuperar Contraseña</h2>
    <form id="recoverForm" class="form">
      <label for="email">Introduce tu correo electrónico:</label>
      <input type="email" id="email" name="email" required>
      <a href="/login" class="recover-btn">Enviar instrucciones</a>
    </form>
    <div class="login-options">
      <p>¿Recordaste tu contraseña? <a href="/login">Inicia sesión</a></p>
    </div>
  </main>

  {% include "footer.html" %}

  <script src="/static/js/main.js"></script>
</body>
</html>
